<!DOCTYPE html>
<html lang="zxx" dir="ltr">


<!-- Mirrored from htmldemo.net/hmart/hmart/my-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 29 Feb 2024 07:23:55 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hmart - Account page</title>
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Hmart-Smart Product eCommerce html Template">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico" />
    <!-- CSS
    ============================================ -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/font.awesome.css" />
    <link rel="stylesheet" href="assets/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/venobox.css">
    <link rel="stylesheet" href="assets/css/jquery-ui.min.css">
    <!-- Other meta tags, title, etc. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">


    <style>
        .edit-btn i {
            color: blue;
            /* Change to desired color */
        }

        .delete-btn i {
            color: red;
            /* Change to desired color */
        }
    </style>

    <!-- Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <style>
        /* CSS */

        .modal-content {
            background: linear-gradient(135deg, #87ceeb, #ffffff);
            color: #333;

            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            position: absolute;

            max-width: 800px;
            width: calc(100% - 40px);
            /* Adjusted width to fit the content */

        }

        .modal-contents {
            background: linear-gradient(135deg, #87ceeb, #ffffff);
            color: #333;
            margin: auto;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 900px;
            width: calc(100% - 40px);
            /* Adjusted width to fit the content */
            display: flex;
            flex-direction: row;
            /* Arrange sections side by side */
            justify-content: center;
            /* Center the content horizontally */
        }

        .order-section,
        .address-section {
            flex: 1;
            /* Make sections occupy equal space */
            padding: 20px;
            /* Add spacing inside sections */
        }

        .order-section {
            border-right: 1px solid #ccc;
            /* Add border between sections */
        }

        .address-section {
            text-align: left;
            /* Align text to the left */
            margin-left: auto;
            /* Push content towards the center */
            margin-right: auto;
            /* Push content towards the center */
        }

        .close {
            color: #333;
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 30px;
        }

        .close:hover,
        .close:focus {
            color: #87ceeb;
            text-decoration: none;
            cursor: pointer;
        }

        .view-button {
            background-color: #4CAF50;
            /* Green background */
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            border-radius: 8px;
        }

        /* Change the button's background color when hovered */
        .view-button:hover {
            background-color: #45a049;
        }

        /* CSS for styling the cancel button */
        button.cancel-button {
            background-color: #2dced0;
            /* Red color */
            color: #fff;
            /* White text color */
            padding: 8px 16px;
            /* Padding around the text */
            border: none;
            /* No border */
            border-radius: 4px;
            /* Rounded corners */
            cursor: pointer;
            /* Change cursor to pointer on hover */
            transition: background-color 0.3s ease;
            /* Smooth transition for background color */
        }

        button.cancel-button:hover {
            background-color: #2c7fa2;
            /* Darker red color on hover */
        }


        #addressDetails {
            display: flex;
            flex-direction: column;
            gap: 15px;
            /* Adjust spacing between addresses */
        }

        .address-container {
            border: 2px solid #ccc;
            border-radius: 10px;
            padding: 15px;
            position: relative;
            background-color: #f9f9f9;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            /* Set a maximum width */
            width: 100%;
            /* Add a subtle shadow */
        }


        .address-info {
            font-family: Arial, sans-serif;
            /* Change font family */
            color: #333;
            /* Change text color */
        }
    </style>
    <!-- Minify Version -->
    <!-- <link rel="stylesheet" href="assets/css/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css"> -->
</head>

<body>
    <div class="main-wrapper">
        <header>
            <!-- Header top area start -->
            <div class="header-top">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col">
                            <div class="welcome-text">
                                <p>World Wide Completely Free Returns and Shipping</p>
                            </div>
                        </div>
                        <div class="col d-none d-lg-block">
                            <div class="top-nav">
                                <ul>
                                    <li><a href="tel:0123456789"><i class="fa fa-phone"></i> +012 3456 789</a></li>
                                    <li><a href="mailto:demo@example.com"><i class="fa fa-envelope-o"></i>
                                            demo@example.com</a></li>
                                    <li><a href="/account"><i class="fa fa-user"></i> Account</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header top area end -->
            <!-- Header action area start -->
            <div class="header-bottom  d-none d-lg-block">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-3 col">
                            <div class="header-logo">
                                <a href="/"><img src="assets/images/logo/logo.png" alt="Site Logo" /></a>
                            </div>
                        </div>
                        {{!-- <div class="col-lg-6 d-none d-lg-block">
                            <div class="search-element">
                                <form action="#">
                                    <input type="text" placeholder="Search" />
                                    <button><i class="pe-7s-search"></i></button>
                                </form>
                            </div>
                        </div> --}}
                        <div class="col-lg-3 col">
                            <div class="header-actions">
                                <!-- Single Wedge Start -->
                                <a href="/wishlist" class="header-action-btn ">
                                    <i class="pe-7s-like"></i>
                                </a>
                                <!-- Single Wedge End -->
                                <a href="/cart" class="header-action-btn ">
                                    <i class="pe-7s-shopbag"></i>
                                </a>
                                <a href="#offcanvas-mobile-menu"
                                    class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                                    <i class="pe-7s-menu"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header action area end -->
            <!-- Header action area start -->
            <div class="header-bottom d-lg-none sticky-nav style-1">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-3 col">
                            <div class="header-logo">
                                <a href="/"><img src="assets/images/logo/logo.png" alt="Site Logo" /></a>
                            </div>
                        </div>
                        {{!-- <div class="col-lg-6 d-none d-lg-block">
                            <div class="search-element">
                                <form action="#">
                                    <input type="text" placeholder="Search" />
                                    <button><i class="pe-7s-search"></i></button>
                                </form>
                            </div>
                        </div> --}}
                        <div class="col-lg-3 col">
                            <div class="header-actions">
                                <!-- Single Wedge Start -->
                                <a href="/wishlist" class="header-action-btn">
                                    <i class="pe-7s-like"></i>
                                </a>
                                <!-- Single Wedge End -->
                                <a href="/cart" class="header-action-btn">
                                    <i class="pe-7s-shopbag"></i>
                                </a>
                                <a href="#offcanvas-mobile-menu"
                                    class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                                    <i class="pe-7s-menu"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header action area end -->
            <!-- header navigation area start -->
            <div class="header-nav-area d-none d-lg-block sticky-nav">
                <div class="container">
                    <div class="header-nav">
                        <div class="main-menu position-relative">
                            <ul>
                                {{!-- <li class="dropdown"><a href="#">Home <i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="index.html">Home 1</a></li>
                                        <li><a href="index-2.html">Home 2</a></li>
                                    </ul>
                                </li> --}}
                                <li><a href="/">Home </a></li>
                                <li><a href="/about">About</a></li>

                                <li class="dropdown"><a href="#">Shop <i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="/tablet">Tablet</a></li>
                                        <li><a href="/phone">Phone</a></li>
                                    </ul>
                                </li>
                                {{!-- <li class="dropdown "><a href="#">Blog <i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li class="dropdown position-static"><a href="blog-grid-left-sidebar.html">Blog
                                                Grid
                                                <i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu sub-menu-2">
                                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                                <li><a href="blog-grid-left-sidebar.html">Blog Grid Left Sidebar</a>
                                                </li>
                                                <li><a href="blog-grid-right-sidebar.html">Blog Grid Right Sidebar</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown position-static"><a href="blog-list-left-sidebar.html">Blog
                                                List
                                                <i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu sub-menu-2">
                                                <li><a href="blog-list.html">Blog List</a></li>
                                                <li><a href="blog-list-left-sidebar.html">Blog List Left Sidebar</a>
                                                </li>
                                                <li><a href="blog-list-right-sidebar.html">Blog List Right Sidebar</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown position-static"><a
                                                href="blog-single-left-sidebar.html">Single
                                                Blog <i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu sub-menu-2">
                                                <li><a href="blog-single.html">Single Blog</a>
                                                <li><a href="blog-single-left-sidebar.html">Single Blog Left Sidebar</a>
                                                </li>
                                                <li><a href="blog-single-right-sidebar.html">Single Blog Right
                                                        Sidebar</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li> --}}
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header navigation area end -->
            {{!-- <div class="mobile-search-box d-lg-none">
                <div class="container">
                    <!-- mobile search start -->
                    <div class="search-element max-width-100">
                        <form action="#">
                            <input type="text" placeholder="Search" />
                            <button><i class="pe-7s-search"></i></button>
                        </form>
                    </div>
                    <!-- mobile search start -->
                </div>
            </div> --}}
        </header>
        <!-- offcanvas overlay start -->
        <div class="offcanvas-overlay"></div>
        <!-- offcanvas overlay end -->
        <!-- OffCanvas Wishlist Start -->
        <div id="offcanvas-wishlist" class="offcanvas offcanvas-wishlist">
            <div class="inner">
                <div class="head">
                    <span class="title">Wishlist</span>
                    <button class="offcanvas-close">×</button>
                </div>
                <div class="body customScroll">
                    <ul class="minicart-product-list">
                        <li>
                            <a href="single-product.html" class="image"><img src="assets/images/product-image/1.webp"
                                    alt="Cart product Image"></a>
                            <div class="content">
                                <a href="single-product.html" class="title">Modern Smart Phone</a>
                                <span class="quantity-price">1 x <span class="amount">$21.86</span></span>
                                <a href="#" class="remove">×</a>
                            </div>
                        </li>
                        <li>
                            <a href="single-product.html" class="image"><img src="assets/images/product-image/2.webp"
                                    alt="Cart product Image"></a>
                            <div class="content">
                                <a href="single-product.html" class="title">Bluetooth Headphone</a>
                                <span class="quantity-price">1 x <span class="amount">$13.28</span></span>
                                <a href="#" class="remove">×</a>
                            </div>
                        </li>
                        <li>
                            <a href="single-product.html" class="image"><img src="assets/images/product-image/3.webp"
                                    alt="Cart product Image"></a>
                            <div class="content">
                                <a href="single-product.html" class="title">Smart Music Box</a>
                                <span class="quantity-price">1 x <span class="amount">$17.34</span></span>
                                <a href="#" class="remove">×</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="foot">
                    <div class="buttons">
                        <a href="/wishlist" class="btn btn-dark btn-hover-primary mt-30px">view wishlist</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- OffCanvas Wishlist End -->
        <!-- OffCanvas Cart Start -->
        <div id="offcanvas-cart" class="offcanvas offcanvas-cart">
            <div class="inner">
                <div class="head">
                    <span class="title">Cart</span>
                    <button class="offcanvas-close">×</button>
                </div>
                <div class="body customScroll">
                    <ul class="minicart-product-list">
                        <li>
                            <a href="single-product.html" class="image"><img src="assets/images/product-image/1.webp"
                                    alt="Cart product Image"></a>
                            <div class="content">
                                <a href="single-product.html" class="title">Modern Smart Phone</a>
                                <span class="quantity-price">1 x <span class="amount">$18.86</span></span>
                                <a href="#" class="remove">×</a>
                            </div>
                        </li>
                        <li>
                            <a href="single-product.html" class="image"><img src="assets/images/product-image/2.webp"
                                    alt="Cart product Image"></a>
                            <div class="content">
                                <a href="single-product.html" class="title">Bluetooth Headphone</a>
                                <span class="quantity-price">1 x <span class="amount">$43.28</span></span>
                                <a href="#" class="remove">×</a>
                            </div>
                        </li>
                        <li>
                            <a href="single-product.html" class="image"><img src="assets/images/product-image/3.webp"
                                    alt="Cart product Image"></a>
                            <div class="content">
                                <a href="single-product.html" class="title">Smart Music Box</a>
                                <span class="quantity-price">1 x <span class="amount">$37.34</span></span>
                                <a href="#" class="remove">×</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="foot">
                    <div class="buttons mt-30px">
                        <a href="cart.html" class="btn btn-dark btn-hover-primary mb-30px">view cart</a>
                        <a href="checkout.html" class="btn btn-outline-dark current-btn">checkout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- OffCanvas Cart End -->
        <!-- OffCanvas Menu Start -->
        <div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
            <button class="offcanvas-close"></button>
            <div class="user-panel">
                <ul>
                    <li><a href="tel:0123456789"><i class="fa fa-phone"></i> +012 3456 789</a></li>
                    <li><a href="mailto:demo@example.com"><i class="fa fa-envelope-o"></i> demo@example.com</a></li>
                    <li><a href="my-account.html"><i class="fa fa-user"></i> Account</a></li>
                </ul>
            </div>
            <div class="inner customScroll">
                <div class="offcanvas-menu mb-4">
                    <ul>
                        <li><a href="/">Home </a></li>
                        <li><a href="/about">About</a></li>
                        <li class="dropdown"><a href="#">Shop <i class="fa fa-angle-down"></i></a>
                            <ul class="sub-menu">
                                <li><a href="/tablet">Tablet</a></li>
                                <li><a href="/phone">Phone</a></li>
                            </ul>
                        </li>
                        <li><a href="/contact">Contact</a></li>
                        {{!-- <li class="dropdown "><a href="#">Pages <i class="fa fa-angle-down"></i></a>
                            <ul class="sub-menu">
                                <li class="d-flex">
                                    <ul class="d-block">
                                        <li class="title"><a href="#">Profile</a></li>
                                        <li><a href="/account">Profile</a></li>
                                        <li><a href="/account">Orders</a></li>
                                        <li><a href="/logoutt">Logout</a></li>
                                        <li><a href="coming-soon.html">Coming Soon Page</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li> --}}
                    </ul>
                </div>
            </div>
        </div>
        <!-- OffCanvas Menu End -->
        <!-- breadcrumb-area start -->
        {{!-- <div class="breadcrumb-area">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 text-center">
                        <h2 class="breadcrumb-title">Account</h2>
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">Account</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div> --}}
        <!-- breadcrumb-area end -->
        <!-- account area start -->
        <div class="account-dashboard pt-100px pb-100px">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <!-- Nav tabs -->
                        <div class="dashboard_tab_button" data-aos="fade-up" data-aos-delay="0">
                            <ul role="tablist" class="nav flex-column dashboard-list">
                                <li><a href="#dashboard" data-bs-toggle="tab" class="nav-link active">Dashboard</a></li>
                                <li> <a href="#orders" data-bs-toggle="tab" class="nav-link">Orders</a></li>
                                {{!-- <li><a href="#downloads" data-bs-toggle="tab" class="nav-link">Downloads</a></li>
                                --}}
                                <li><a href="#address" data-bs-toggle="tab" class="nav-link">Addresses</a></li>
                                {{!-- <li><a href="#account-details" data-bs-toggle="tab" class="nav-link">Account
                                        details</a> --}}
                                </li>
                                <li><a href="/logoutt" class="nav-link">logout</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9 col-lg-9">
                        <!-- Tab panes -->
                        <div class="tab-content dashboard_content" data-aos="fade-up" data-aos-delay="200">
                            <div class="tab-pane fade show active" id="dashboard">
                                <h4>Dashboard </h4>
                                <div class="profile-info">
                                    <p><strong>Name:</strong> <span class="text-success">{{user.name}}</span></p>
                                    <p><strong>Email:</strong> <span class="text-info">{{user.email}}</span></p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="orders">
                                <h4>Orders</h4>
                                <div class="table_page table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                {{!-- <th>Order</th> --}}
                                                <th>Product</th>
                                                {{!-- <th>Quantity</th> --}}
                                                <th>Price</th>
                                                {{!-- <th>Date</th> --}}
                                                {{!-- <th>Status</th> --}}
                                                <th>Action</th>
                                                <th>Order Details</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each orders}}
                                            <tr>
                                                {{!-- <td>{{this._id}}</td> --}}
                                                <td><img src="{{this.productImage}}"
                                                        style="width: 100px;">{{this.productName}}</td>
                                                {{!-- <td>{{this.quantity}}</td> --}}
                                                <td>{{this.totalprice}} </td>
                                                {{!-- <td>{{this.created_at}} </td> --}}
                                                {{!-- <td>{{this.status}} </td> --}}
                                                <td>
                                                    {{#if this.cancellable}}
                                                    <form action="/admin/cancel" method="POST"
                                                        id="cancelForm{{this._id}}">
                                                        <input type="hidden" name="orderId" value="{{this._id}}">
                                                        <input type="hidden" name="userId" value="{{this.userId}}">
                                                        <button type="button" class="cancel-button"
                                                            onclick="confirmCancellation('{{this._id}}')">Cancel</button>

                                                        {{else}}
                                                        {{this.status}}
                                                        {{/if}}
                                                    </form>
                                                </td>
                                                <td> <button class="view-button"
                                                        onclick="viewOrderDetails('{{this._id}}')">View</button></td>
                                            </tr>
                                            {{/each}}

                                            {{!-- <tr>
                                                <td>2</td>
                                                <td>May 10, 2018</td>
                                                <td>Processing</td>
                                                <td>$17.00 for 1 item </td>
                                                <td><a href="cart.html" class="view">view</a></td>
                                            </tr> --}}
                                        </tbody>
                                        <div id="orderModal" class="modal">
                                            <div class="modal-contents">
                                                <span class="close" onclick="closeModal()">&times;</span>
                                                <div class="order-section">
                                                    <h2 class="section-title">Order Details</h2>
                                                    <div id="orderDetails"></div>
                                                </div>
                                                <div class="address-section">
                                                    <h2 class="section-title">User Details</h2>
                                                    <div id="addressDetails"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="downloads">
                                <h4>Downloads</h4>
                                <div class="table_page table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Downloads</th>
                                                <th>Expires</th>
                                                <th>Download</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Shopnovilla - Free Real Estate PSD Template</td>
                                                <td>May 10, 2018</td>
                                                <td><span class="danger">Expired</span></td>
                                                <td><a href="#" class="view">Click Here To Download Your File</a></td>
                                            </tr>
                                            <tr>
                                                <td>Organic - ecommerce html template</td>
                                                <td>Sep 11, 2018</td>
                                                <td>Never</td>
                                                <td><a href="#" class="view">Click Here To Download Your File</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="address">
                                <div id="addressDetails">
                                    {{#each address}}
                                    <div class="address-container">
                                        <div class="address-info">
                                            <span>{{name}}</span>,<br>
                                            <span>{{house_name}},</span>
                                            <span>{{street}},</span><br>
                                            <span>{{city}},</span>
                                            <span>{{state}} - </span>
                                            <span>{{pin}}<br></span>
                                            <span>{{address_type}},</span>
                                            <span>{{phone}}</span>
                                        </div>
                                        <div class="address-buttons">
                                            <button class="edit-btn"
                                                onclick="editModal('{{this._id}}','{{this.house_name}}','{{this.street}}','{{this.city}}','{{this.state}}','{{this.pin}}')"><i
                                                    class="fas fa-edit"></i> </button>
                                            <button class="delete-btn" onclick="deleteAddress('{{this._id}}')"><i
                                                    class="fas fa-trash-alt"></i> </button>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>


                            {{!-- <a href="#" class="btn btn-primary edit-address-btn" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop" data-id="{{_id}}">
                                <i class="fas fa-edit"></i><input type="hidden" value="{{_id}}"> Edit Address
                            </a>

                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Address</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="edit-address-form">

                                                <div class="mb-3">
                                                    <label for="edit-address" class="form-label">Address</label>
                                                    <textarea class="form-control" id="edit-address" name="address"
                                                        rows="3">{{ addressDetails.address.address }}</textarea>
                                                    <p class="error-msg" id="address-error"></p>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="edit-place" class="form-label">Place</label>
                                                    <input type="text" class="form-control" id="edit-place" name="place"
                                                        value="{{ addressDetails.address.place }}">
                                                    <p class="error-msg" id="place-error"></p>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="edit-district" class="form-label">District</label>
                                                    <input type="text" class="form-control" id="edit-district"
                                                        name="district" value="{{ addressDetails.address.district }}">
                                                    <p class="error-msg" id="district-error"></p>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="edit-pincode" class="form-label">Pincode</label>
                                                    <input type="text" class="form-control" id="edit-pincode"
                                                        name="pincode" value="{{ addressDetails.address.pincode }}">
                                                    <p class="error-msg" id="pincode-error"></p>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <input type="hidden" id="addressId">
                                            <button type="button" id="savebtn" class="btn btn-primary">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div> --}}

                            <!-- Modal for Edit -->
                            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editModalLabel" style="color: #f9f9f9;">Edit
                                                Brand</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="edit-address-form" action="/updateAddress" method="post">

                                                <input type="hidden" id="editAddressId" name="AddressId" value="">

                                                <div class="mb-3">
                                                    <label for="edit-house_name" class="form-label">House Name</label>
                                                    <input type="text" class="form-control" id="edit-house_name"
                                                        name="house_name" value="">
                                                    <p class="error-msg" id="address-error"></p>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="edit-street" class="form-label">Street</label>
                                                    <input type="text" class="form-control" id="edit-street"
                                                        name="street" value="">
                                                    <p class="error-msg" id="place-error"></p>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="edit-city" class="form-label">City</label>
                                                    <input type="text" class="form-control" id="edit-city" name="city"
                                                        value="">
                                                    <p class="error-msg" id="district-error"></p>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="edit-state" class="form-label">state</label>
                                                    <input type="text" class="form-control" id="edit-state" name="state"
                                                        value="">
                                                    <p class="error-msg" id="pincode-error"></p>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="edit-pin" class="form-label">Pin-Code</label>
                                                    <input type="text" class="form-control" id="edit-pin" name="pin"
                                                        value="">
                                                    <p class="error-msg" id="pincode-error"></p>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Update Coupon</button>
                                            </form>
                                            {{!-- {{/each}} --}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="account-details">
                                <h3>Account details </h3>
                                <div class="login">
                                    <div class="login_form_container">
                                        <div class="account_login_form">
                                            <form action="#">
                                                <p>Already have an account? <a href="#" data-bs-toggle="modal"
                                                        data-bs-target="#loginActive">Log in instead!</a></p>
                                                <div class="input-radio">
                                                    <span class="custom-radio"><input type="radio" value="1"
                                                            name="id_gender"> Mr.</span>
                                                    <span class="custom-radio"><input type="radio" value="1"
                                                            name="id_gender"> Mrs.</span>
                                                </div> <br>
                                                <div class="default-form-box mb-20">
                                                    <label>First Name</label>
                                                    <input type="text" name="first-name">
                                                </div>
                                                <div class="default-form-box mb-20">
                                                    <label>Last Name</label>
                                                    <input type="text" name="last-name">
                                                </div>
                                                <div class="default-form-box mb-20">
                                                    <label>Email</label>
                                                    <input type="text" name="email-name">
                                                </div>
                                                <div class="default-form-box mb-20">
                                                    <label>Password</label>
                                                    <input type="password" name="user-password">
                                                </div>
                                                <div class="default-form-box mb-20">
                                                    <label>Birthdate</label>
                                                    <input type="date" name="birthday">
                                                </div>
                                                <span class="example">
                                                    (E.g.: 05/31/1970)
                                                </span>
                                                <br>
                                                <label class="checkbox-default" for="offer">
                                                    <input type="checkbox" id="offer">
                                                    <span>Receive offers from our partners</span>
                                                </label>
                                                <br>
                                                <label class="checkbox-default checkbox-default-more-text"
                                                    for="newsletter">
                                                    <input type="checkbox" id="newsletter">
                                                    <span>Sign up for our newsletter<br><em>You may unsubscribe at any
                                                            moment. For that purpose, please find our contact info in
                                                            the
                                                            legal notice.</em></span>
                                                </label>
                                                <div class="save_button mt-3">
                                                    <button class="btn" type="submit">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- account area start -->
        <!-- Footer Area Start -->
        <div class="footer-area">
            <div class="footer-container">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <!-- Start single blog -->
                            <div class="col-md-6 col-lg-4 mb-md-30px mb-lm-30px">
                                <div class="single-wedge">
                                    <div class="footer-logo">
                                        <a href="index.html"><img src="assets/images/logo/footer-logo.png" alt=""></a>
                                    </div>
                                    <p class="about-text">Your tech sanctuary
                                    </p>
                                    {{!-- <ul class="link-follow">
                                        <li>
                                            <a class="m-0" title="Twitter" target="_blank" rel="noopener noreferrer"
                                                href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a title="Tumblr" target="_blank" rel="noopener noreferrer" href="#"><i
                                                    class="fa fa-tumblr" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Facebook" target="_blank" rel="noopener noreferrer" href="#"><i
                                                    class="fa fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Instagram" target="_blank" rel="noopener noreferrer" href="#"><i
                                                    class="fa fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul> --}}
                                </div>
                            </div>
                            <!-- End single blog -->
                            <!-- Start single blog -->
                            <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px pl-lg-60px">
                                <div class="single-wedge">
                                    <h4 class="footer-herading">Services</h4>
                                    <div class="footer-links">
                                        <div class="footer-row">
                                            <ul class="align-items-center">
                                                <li class="li"><a class="single-link" href="/account">My
                                                        Account</a></li>
                                                <li class="li"><a class="single-link" href="/contact">Contact</a></li>
                                                <li class="li"><a class="single-link" href="/cart">Shopping
                                                        cart</a></li>
                                                <li class="li"><a class="single-link" href="/wishlist">Wishlist</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End single blog -->
                            <!-- Start single blog -->
                            {{!-- <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px pl-lg-40px">
                                <div class="single-wedge">
                                    <h4 class="footer-herading">My Account</h4>
                                    <div class="footer-links">
                                        <div class="footer-row">
                                            <ul class="align-items-center">
                                                <li class="li"><a class="single-link" href="/account">My
                                                        Account</a></li>
                                                <li class="li"><a class="single-link" href="/contact">Contact</a></li>
                                                <li class="li"><a class="single-link" href="/cart">Shopping
                                                        cart</a></li>
                                                <li class="li"><a class="single-link"
                                                        href="shop-left-sidebar.html">Shop</a></li>
                                                <li class="li"><a class="single-link" href="/account">Services
                                                        Login</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div> --}}
                            <!-- End single blog -->
                            <!-- Start single blog -->
                            <div class="col-md-6 col-lg-3 col-sm-12">
                                <div class="single-wedge">
                                    <h4 class="footer-herading">Contact Info</h4>
                                    <div class="footer-links">
                                        <!-- News letter area -->
                                        {{!-- <p class="address">Address: Your Address Goes Here.</p> --}}
                                        <p class="phone">Phone:<a href="tel:8139056330">8139056330</a></p>
                                        <p class="mail">Email:<a href=" medamu345@gmail.com">
                                                medamu345@gmail.com</a></p>
                                        {{!-- <p class="mail"><a href="https://demo@example.com/">
                                                demo@example.com</a></p> --}}
                                        <!-- News letter area  End -->
                                    </div>
                                </div>
                            </div>
                            <!-- End single blog -->
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="line-shape-top line-height-1">
                            <div class="row flex-md-row-reverse align-items-center">
                                <div class="col-md-6 text-center text-md-end">
                                    <div class="payment-mth"><a href="#"><img class="img img-fluid"
                                                src="assets/images/icons/payment.png" alt="payment-image"></a>
                                    </div>
                                </div>
                                {{!-- <div class="col-md-6 text-center text-md-start">
                                    <p class="copy-text"> © 2022 <strong>Phone Zone</strong> Made With <i
                                            class="fa fa-heart" aria-hidden="true"></i> By <a class="company-name"
                                            href="https://themeforest.net/user/codecarnival/portfolio">
                                            <strong> Codecarnival </strong></a>.</p>
                                </div> --}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Area End -->
    </div>
    <!-- Global Vendor, plugins JS -->
    <!-- JS Files
    ============================================ -->
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="assets/js/plugins/scrollUp.js"></script>
    <script src="assets/js/plugins/venobox.min.js"></script>
    <script src="assets/js/plugins/jquery-ui.min.js"></script>
    <script src="assets/js/plugins/mailchimp-ajax.js"></script>


    <!-- Minify Version -->
    <!-- <script src="assets/js/vendor.min.js"></script>
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/main.min.js"></script> -->

    <!--Main JS (Common Activation Codes)-->
    <script src="assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <!-- Include SweetAlert library -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>



    <script>
        function confirmCancellation(orderId) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, cancel it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Submit the cancellation form
                    document.getElementById('cancelForm' + orderId).submit();
                }
            })
        }


        function viewOrderDetails(orderId) {
            fetch(`/order/${orderId}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    // Populate modal with order details
                    const orderDetails = document.getElementById('orderDetails');
                    orderDetails.innerHTML = `
                {{!-- <h3>Product Details</h3> --}}
                <p>Order ID: ${data._id}</p>
                <p>Product Name: ${data.productName}</p>
                <p>Quantity: ${data.quantity}</p>
                <p>Ram & Rom: ${data.ram} - ${data.rom}</p>
                <p>Color: ${data.color}</p>
                <p>Payment Method: ${data.payment_Method}</p>
                <p>Price: ${data.price}</p>
                <p>Total Price: ${data.totalprice}</p>
                <p>Order Status: ${data.status}</p>
                <p>Discount Amount: ${data.amount}</p><br>
                                <h3>Status History</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Event</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>${new Date(data.orderHistory.createdAt).toLocaleString()}</td>
                            <td>Order Created</td>
                        </tr>
                        ${
                        // Conditionally include shippedAt if it exists and it changed
                        data.orderHistory.shippedAt && data.orderHistory.shippedAt !== data.orderHistory.createdAt ?
                            `<tr>
                                    <td>${new Date(data.orderHistory.shippedAt).toLocaleString()}</td>
                                    <td>Order Shipped</td>
                                </tr>` : ''
                        }
                        ${
                        // Conditionally include deliveredAt if it exists and it changed
                        data.orderHistory.deliveredAt && data.orderHistory.deliveredAt !== data.orderHistory.shippedAt ?
                            `<tr>
                                    <td>${new Date(data.orderHistory.deliveredAt).toLocaleString()}</td>
                                    <td>Order Delivered</td> 
                                </tr>` : ''
                        }
                            ${data.status === "Canceled" ? `<tr><td>${new Date().toLocaleString()}</td><td>Order Canceled</td></tr>` : ''}
                    </tbody>
                </table>
            
            `;
            
                    const addressDetails = document.getElementById('addressDetails');
                    addressDetails.innerHTML = `
    <p>Customer Name: ${data.name}</p>
    <h5>Address:</h5>
    <p>${data.address.name},</p>
    <p>${data.address.house_name}, ${data.address.street},</p>
    <p>${data.address.city} - ${data.address.pin}</p>
    <p>${data.address.state}</p>
    <p>Phone Number: ${data.address.phone}</p>

    
`;

                    // Show modal
                    const modal = document.getElementById('orderModal');
                    modal.style.display = 'block';
                })
                .catch(error => console.error('Error fetching order details:', error));
        }


        function closeModal() {
            const modal = document.getElementById('orderModal');
            modal.style.display = 'none';
        }



        ///address

        function editModal(id, house_name, street, city, state, pin) {
            // Set the existing coupon data in the form
            $('#edit-house_name').val(house_name);
            $('#edit-street').val(street);
            $('#edit-city').val(city);
            $('#edit-state').val(state);
            $('#edit-pin').val(pin);

            var editCouponModal = new bootstrap.Modal(document.getElementById('editModal'));
            editCouponModal.show();

            $('#edit-address-form').on('submit', function (e) {
                e.preventDefault();

                const updatedData = {
                    house_name: $('#edit-house_name').val(),
                    street: $('#edit-street').val(),
                    city: $('#edit-city').val(),
                    state: $('#edit-state').val(),
                    pin: $('#edit-pin').val(),
                };

                const AddressId = id;

                updateAddress(AddressId, updatedData);
            });
        }

        function updateAddress(AddressId, updatedData) {
            const baseUrl = '/user/address/'


            axios.put(`${baseUrl}${AddressId}`, { updatedData })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`Error updating product: ${response.status}`);
                    }
                    return response.json();
                    window.location.reload()
                })
                .then(data => {
                    console.log('Product updated successfully:', data);

                })
                .catch(error => {
                    console.error('Error updating product:', error);
                    window.location.reload()
                });
        }

        function closeEditModal() {
            var modal = document.getElementById("editModal");
            modal.style.display = "none";
        }


        function deleteAddress(addressId) {
            var confirmation = confirm("Are you sure you want to delete this Address?");

            if (confirmation) {
                // Use fetch to send a DELETE request to your server endpoint
                fetch(`/deleteAddress/${addressId}`, {
                    method: 'DELETE',
                })
                    .then(response => {
                        if (response.ok) {
                            // Assuming the product is deleted successfully, you can reload the page or update the UI
                            console.log('Address deleted successfully');
                            // Display Noty alert
                            new Noty({
                                type: 'success',
                                text: 'Address deleted successfully',
                                timeout: 3000 // 3 seconds
                            }).show();
                            // Reload the page
                            setTimeout(() => {
                                window.location.reload();
                            }, 2000);
                        } else {
                            console.error('Failed to delete Address');
                            // Handle error accordingly
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        // Handle error accordingly
                    });
            }
        }

    </script>

</body>


<!-- Mirrored from htmldemo.net/hmart/hmart/my-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 29 Feb 2024 07:23:55 GMT -->

</html>