<!DOCTYPE html>
<html lang="zxx" dir="ltr">


<!-- Mirrored from htmldemo.net/Phone Zone/Phone Zone/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 29 Feb 2024 07:22:29 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TapJoy </title>
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Phone Zone-Smart Product eCommerce html Template">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico" />
    <!-- CSS
    ============================================ -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/font.awesome.css" />
    <link rel="stylesheet" href="assets/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/venobox.css">
    <link rel="stylesheet" href="assets/css/jquery-ui.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <style>
        .title-1 {
            color: black;
            /* Set the color to black */

        }

        #pos {
            color: black;
            /* Set the color to black */

        }

        .black-text {
            color: black;
        }

        @media (max-width: 500px) {
            .hero-slide-image img {
                max-width: 300%;
                height: auto;
            }
        }

        .header-actions .header-action-btn {
            margin: 0 3px;
            /* Further reduce margin between items */
            font-size: 18px;
            /* Adjust icon size if necessary */
        }

        .header-logo img {
            max-width: 160px;
            /* Smaller logo */
        }

        .header-actions {
            display: flex;
            align-items: center;
        }
    </style>

    <!-- Minify Version -->
    <!-- <link rel="stylesheet" href="assets/css/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css"> -->
    <style>

    </style>
</head>

<body>
    <div class="main-wrapper">
        <header>
            <!-- Header top area start -->
            <div class="header-top">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        {{!-- <div class="col">
                            <div class="welcome-text">
                                <p>World Wide Completely Free Returns and Shipping</p>
                            </div>
                        </div> --}}
                        {{!-- <div class="col d-none d-lg-block">
                            <div class="top-nav">

                                <ul>
                                    <li><a href="/signin"><i class="fa fa-user"></i> Account</a></li>
                                    <li><a href="tel:0123456789"><i class="fa fa-phone"></i> +012 3456 789</a></li>
                                    <li><a href="mailto:demo@example.com"><i class="fa fa-envelope-o"></i>
                                            demo@example.com</a></li>
                                    <li><a href="/account"><i class="fa fa-user"></i> Account</a></li>
                                    {{log:user}}
                                    <li><a href="/account"><i class="fa fa-user"></i> Account</a></li>
                                </ul>
                            </div>
                        </div> --}}
                    </div>
                </div>
            </div>
            <!-- Header top area end -->
            <!-- Header action area start -->
            <div class="header-bottom d-none d-lg-block">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-2 col">
                            <div class="header-logo">
                                <a href="/"><img src="assets/images/logo/Tapss.png" alt="Site Logo"
                                        style="width: 250px;" /></a>
                            </div>
                        </div>
                        <div class="col-lg-2 col">
                            <div class="header-actions">
                                <!-- Single Wedge Start -->
                                <a href="/wishlist" class="header-action-btn">
                                    <i class="pe-7s-like"></i>
                                </a>
                                <!-- Single Wedge End -->
                                <a href="/cart" class="header-action-btn">
                                    <i class="pe-7s-shopbag"></i>
                                </a>
                                <a href="/account" class="header-action-btn">
                                    <i class="fa fa-user"></i>
                                </a>
                                <a href="#offcanvas-mobile-menu"
                                    class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                                    <i class="pe-7s-menu"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Header action area end -->
            <!-- Header action area start -->
            <div class="header-bottom d-lg-none sticky-nav style-1">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-3 col">
                            <div class="header-logo">
                                <a href="/"><img src="assets/images/logo/Tapss.png" alt="Site Logo"
                                        style="width: 250px;" /></a>
                            </div>
                        </div>
                        {{!-- <div class="col-lg-6 d-none d-lg-block">
                            <div class="search-element">
                                <form action="#">
                                    <input type="text" placeholder="Search" />
                                    <button><i class="pe-7s-search"></i></button>
                                </form>
                            </div>
                        </div> --}}
                        <div class="col-lg-3 col">
                            <div class="header-actions">
                                <!-- Single Wedge Start -->
                                <a href="/wishlist" class="header-action-btn">
                                    <i class="pe-7s-like"></i>
                                </a>
                                <!-- Single Wedge End -->
                                <a href="/cart" class="header-action-btn">
                                    <i class="pe-7s-shopbag"></i>
                                </a>
                                <a href="/account" class="header-action-btn">
                                    <i class="fa fa-user"></i>
                                </a>
                                <a href="#offcanvas-mobile-menu"
                                    class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                                    <i class="pe-7s-menu"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header action area end -->
            <!-- header navigation area start -->
            <div class="header-nav-area d-none d-lg-block sticky-nav">
                <div class="container">
                    <div class="header-nav">
                        <div class="main-menu position-relative">
                            <ul>
                                {{!-- <li class="dropdown"><a href="#">Home <i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="index.html">Home 1</a></li>
                                        <li><a href="index-2.html">Home 2</a></li>
                                    </ul>
                                </li> --}}
                                <li><a href="/">Home </a></li>

                                <li><a href="/about">About</a></li>

                                <li class="dropdown"><a href="#">Shop <i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="/tablet">Tablet</a></li>
                                        <li><a href="/phone">Phone</a></li>
                                    </ul>
                                </li>
                                {{!-- <li class="dropdown "><a href="#">Blog <i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li class="dropdown position-static"><a href="blog-grid-left-sidebar.html">Blog
                                                Grid
                                                <i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu sub-menu-2">
                                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                                <li><a href="blog-grid-left-sidebar.html">Blog Grid Left Sidebar</a>
                                                </li>
                                                <li><a href="blog-grid-right-sidebar.html">Blog Grid Right Sidebar</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown position-static"><a href="blog-list-left-sidebar.html">Blog
                                                List
                                                <i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu sub-menu-2">
                                                <li><a href="blog-list.html">Blog List</a></li>
                                                <li><a href="blog-list-left-sidebar.html">Blog List Left Sidebar</a>
                                                </li>
                                                <li><a href="blog-list-right-sidebar.html">Blog List Right Sidebar</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown position-static"><a
                                                href="blog-single-left-sidebar.html">Single
                                                Blog <i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu sub-menu-2">
                                                <li><a href="blog-single.html">Single Blog</a>
                                                <li><a href="blog-single-left-sidebar.html">Single Blog Left Sidebar</a>
                                                </li>
                                                <li><a href="blog-single-right-sidebar.html">Single Blog Right
                                                        Sidebar</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li> --}}
                                <li><a href="/contact">Contact</a></li>
                                {{!-- <li class="dropdown position-static"><a href="#">Pages <i
                                            class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li class="d-flex">
                                            <ul class="d-block">
                                                <li class="title"><a href="#">Profile</a></li>
                                                <li><a href="/account">Profile</a></li>
                                                <li><a href="/account">Orders</a></li>
                                                <li><a href="/logoutt">Logout</a></li>
                                                <li><a href="coming-soon.html">Coming Soon Page</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li> --}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header navigation area end -->
            {{!-- <div class="mobile-search-box d-lg-none">
                <div class="container">
                    <!-- mobile search start -->
                    <div class="search-element max-width-100">
                        <form action="#">
                            <input type="text" placeholder="Search" />
                            <button><i class="pe-7s-search"></i></button>
                        </form>
                    </div>
                    <!-- mobile search start -->
                </div>
            </div> --}}
        </header>
        <!-- offcanvas overlay start -->
        <div class="offcanvas-overlay"></div>
        <!-- offcanvas overlay end -->
        <!-- OffCanvas Wishlist Start -->
        <div id="offcanvas-wishlist" class="offcanvas offcanvas-wishlist">
            <div class="inner">
                <div class="head">
                    <span class="title">Wishlist</span>
                    <button class="offcanvas-close">×</button>
                </div>
                <div class="body customScroll">
                    <ul class="minicart-product-list">
                        <li>
                            <a href="single-product.html" class="image"><img src="assets/images/product-image/9.png"
                                    alt="Cart product Image"></a>
                            <div class="content">
                                <a href="single-product.html" class="title">Smart Phone</a>
                                <span class="quantity-price">1 x <span class="amount">$21.86</span></span>
                                <a href="#" class="remove">×</a>
                            </div>
                        </li>
                        <li>
                            <a href="single-product.html" class="image"><img src="assets/images/product-image/10.png"
                                    alt="Cart product Image"></a>
                            <div class="content">
                                <a href="single-product.html" class="title">Bluetooth Headphone</a>
                                <span class="quantity-price">1 x <span class="amount">$13.28</span></span>
                                <a href="#" class="remove">×</a>
                            </div>
                        </li>
                        <li>
                            <a href="single-product.html" class="image"><img src="assets/images/product-image/3.webp"
                                    alt="Cart product Image"></a>
                            <div class="content">
                                <a href="single-product.html" class="title">Smart Music Box</a>
                                <span class="quantity-price">1 x <span class="amount">$17.34</span></span>
                                <a href="#" class="remove">×</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="foot">
                    <div class="buttons">
                        <a href="/wishlist" class="btn btn-dark btn-hover-primary mt-30px">view wishlist</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- OffCanvas Wishlist End -->
        <!-- OffCanvas Cart Start -->
        <div id="offcanvas-cart" class="offcanvas offcanvas-cart">
            <div class="inner">
                <div class="head">
                    <span class="title">Cart</span>
                    <button class="offcanvas-close">×</button>
                </div>
                <div class="body customScroll">
                    <ul class="minicart-product-list">
                        <li>
                            <a href="single-product.html" class="image"><img src="assets/images/product-image/1.webp"
                                    alt="Cart product Image"></a>
                            <div class="content">
                                <a href="single-product.html" class="title">Modern Smart Phone</a>
                                <span class="quantity-price">1 x <span class="amount">$18.86</span></span>
                                <a href="#" class="remove">×</a>
                            </div>
                        </li>
                        <li>
                            <a href="single-product.html" class="image"><img src="assets/images/product-image/2.webp"
                                    alt="Cart product Image"></a>
                            <div class="content">
                                <a href="single-product.html" class="title">Bluetooth Headphone</a>
                                <span class="quantity-price">1 x <span class="amount">$43.28</span></span>
                                <a href="#" class="remove">×</a>
                            </div>
                        </li>
                        <li>
                            <a href="single-product.html" class="image"><img src="assets/images/product-image/3.webp"
                                    alt="Cart product Image"></a>
                            <div class="content">
                                <a href="single-product.html" class="title">Smart Music Box</a>
                                <span class="quantity-price">1 x <span class="amount">$37.34</span></span>
                                <a href="#" class="remove">×</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="foot">
                    <div class="buttons mt-30px">
                        <a href="cart.html" class="btn btn-dark btn-hover-primary mb-30px">view cart</a>
                        <a href="checkout.html" class="btn btn-outline-dark current-btn">checkout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- OffCanvas Cart End -->
        <!-- OffCanvas Menu Start -->
        <div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
            <button class="offcanvas-close"></button>
            {{!-- <div class="user-panel">
                <ul>
                    <li><a href="tel:0123456789"><i class="fa fa-phone"></i> +012 3456 789</a></li>
                    <li><a href="mailto:demo@example.com"><i class="fa fa-envelope-o"></i> demo@example.com</a></li>
                    <li><a href="my-account.html"><i class="fa fa-user"></i> Account</a></li>
                </ul>
            </div> --}}
            <div class="inner customScroll">
                <div class="offcanvas-menu mb-4">
                    <ul>
                        <li><a href="/">Home </a></li>
                        <li><a href="/about">About</a></li>
                        <li class="dropdown"><a href="#">Shop <i class="fa fa-angle-down"></i></a>
                            <ul class="sub-menu">
                                <li><a href="/tablet">Tablet</a></li>
                                <li><a href="/phone">Phone</a></li>
                            </ul>
                        </li>
                        <li><a href="/contact">Contact</a></li>
                        {{!-- <li class="dropdown "><a href="#">Pages <i class="fa fa-angle-down"></i></a>
                            <ul class="sub-menu">
                                <li class="d-flex">
                                    <ul class="d-block">
                                        <li class="title"><a href="#">Profile</a></li>
                                        <li><a href="/account">Profile</a></li>
                                        <li><a href="/account">Orders</a></li>
                                        <li><a href="/logoutt">Logout</a></li>
                                        <li><a href="coming-soon.html">Coming Soon Page</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li> --}}
                    </ul>
                </div>
            </div>
        </div>
        <!-- OffCanvas Menu End -->
        <!-- Hero/Intro Slider Start -->
        <div class="section ">
            <div class="hero-slider swiper-container slider-nav-style-1 slider-dot-style-1">
                <!-- Hero slider Active -->
                <div class="swiper-wrapper">
                    {{#each banner}}

                    <!-- Single slider item -->
                    <div class="hero-slide-item slider-height swiper-slide bg-color1"
                        data-bg-image="assets/images/hero/bg/hero-bg-1.webp">
                        <div class="container h-100">

                            <div class="row h-100">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 align-self-center sm-center-view">
                                    <div class="hero-slide-content slider-animated-1">
                                        <span id="pos" class="category">Welcome To TapJoy</span>
                                        <h2 id="pos" class="title-1">{{this.Position}} </h2>
                                        <a href="/phone" class="btn btn-primary text-capitalize" id="pos">Shop All
                                            Devices</a>
                                    </div>
                                </div>
                                <div
                                    class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-flex flex-column justify-content-start position-relative">
                                    <div class="show-case">
                                        <div class="hero-slide-image">
                                            <img src="{{BannerImage.url}}" alt="" class="img-fluid" />
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                    <!-- Single slider item -->
                    {{!-- <div class="hero-slide-item slider-height swiper-slide bg-color1"
                        data-bg-image="assets/images/hero/bg/hero-bg-1.webp">
                        <div class="container h-100">
                            <div class="row h-100">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 align-self-center sm-center-view">
                                    <div class="hero-slide-content slider-animated-1">
                                        <span class="category">Welcome To Phone Zone</span>
                                        <h2 class="title-1">Your Home <br>
                                            Smart Devices & <br>
                                            Best Solution </h2>
                                        <a href="shop-left-sidebar.html" class="btn btn-primary text-capitalize">Shop
                                            All Devices</a>
                                    </div>
                                </div>
                                <div
                                    class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center position-relative align-items-end">
                                    <div class="show-case">
                                        <div class="hero-slide-image">
                                            <img src="assets/images/hero/inner-img/hero-1-2.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> --}}
                    {{/each}}

                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination swiper-pagination-white"></div>
                <!-- Add Arrows -->
                <div class="swiper-buttons">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
        <!-- Hero/Intro Slider End -->
        <!-- Banner Area Start -->
        <div class="banner-area style-one pt-100px pb-100px">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="single-banner nth-child-1">
                            <a href="/tablet">
                                <img src="/assets/images/logo/ipad 11.png" alt="">
                            </a>
                            <div class="banner-content nth-child-1">
                                <h3 class="title" style="color: rgb(255, 255, 255);">Tablet </h3>
                                {{!-- <span class="category">From $29.00</span> --}}
                                <a href="/tablet" class="shop-link"><i class="fa fa-arrow-right"
                                        aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        {{!-- <div class="single-banner nth-child-2 mb-30px mb-lm-30px mt-lm-30px ">
                            <img src="assets/images/banner/4.webp" alt="">
                            <div class="banner-content nth-child-2">
                                <h3 class="title">Headphones</h3>
                                <span class="category">From $95.00</span>
                                <a href="shop-left-sidebar.html" class="shop-link"><i class="fa fa-arrow-right"
                                        aria-hidden="true"></i></a>
                            </div>
                        </div> --}}
                        <div class="single-banner nth-child-2">
                            <a href="/phone">
                                <img src="/assets/images/logo/i13.webp" alt="">
                            </a>
                            <div class="banner-content nth-child-1">
                                <h3 class="title" style="color: black">Smartphone</h3>
                                {{!-- <span class="category">From $69.00</span> --}}
                                <a href="/phone" class="shop-link"><i class="fa fa-arrow-right"
                                        aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Area End -->
        <!-- Product Area Start -->
        <div class="product-area pb-100px">
            <div class="container">
                <!-- Section Title & Tab Start -->
                <div class="row">
                    <div class="col-12">
                        <!-- Tab Start -->
                        <div class="tab-slider d-md-flex justify-content-md-between align-items-md-center">
                            <ul class="product-tab-nav nav justify-content-start align-items-center">
                                <li class="nav-item"><button class="nav-link" data-bs-toggle="tab"
                                        data-bs-target="#newarrivals">Tablet</button>
                                </li>
                                {{!-- <li class="nav-item"><button class="nav-link active" data-bs-toggle="tab"
                                        data-bs-target="#toprated">Top Rated</button>
                                </li>
                                <li class="nav-item"><button class="nav-link" data-bs-toggle="tab"
                                        data-bs-target="#featured">Featured</button>
                                </li> --}}
                            </ul>
                        </div>
                        <!-- Tab End -->
                    </div>
                </div>
                <!-- Section Title & Tab End -->
                <div class="row">
                    <div class="col">
                        <div class="tab-content mt-60px">
                            <!-- 1st tab start -->
                            <div class="tab-pane fade show active" id="newarrivals">
                                <div class="row mb-n-30px">
                                    {{#each products}}
                                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                        <!-- Single Prodect -->
                                        <div class="product">
                                            <span class="badges">
                                                <span class="new">New</span>
                                            </span>
                                            <div class="thumb">
                                                <a href="/singleproduct/{{this._id}}" class="image">
                                                    <img src="{{this.productImage.[0]}}" alt="Product" />
                                                    <img class="hover-image" src="{{this.productImage.[1]}}"
                                                        alt="Product" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <span class="category"><a href="#">{{this.productCategory}}</a></span>
                                                <h5 class="title"><a href="single-product.html">{{this.productName}}
                                                    </a>
                                                </h5>
                                                <span class="price">
                                                    {{#if this.variants}}
                                                    <span class="new" class="data-link"
                                                        data-price="{{this.variants.[0].productPrice}}">₹{{this.variants.[0].productPrice}}</span>
                                                    {{else}}
                                                    <span class="new">Price not available</span>
                                                    {{/if}}
                                                </span>
                                            </div>
                                            <div class="actions">
                                                {{!-- <button title="Add To Cart" class="action add-to-cart"
                                                    data-bs-toggle="modal" data-bs-target="#exampleModal-Cart"><i
                                                        class="pe-7s-shopbag"></i></button> --}}
                                                <button class="action wishlist" title="Wishlist"
                                                    onclick="addToWishlist('{{this._id}}')" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal-Wishlist"><i
                                                        class="pe-7s-like"></i></button>
                                                <button class="action quickview" data-link-action="quickview"
                                                    title="Quick view" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal"><i class="pe-7s-look"></i></button>
                                                {{!-- <button class="action compare" title="Compare"
                                                    data-bs-toggle="modal" data-bs-target="#exampleModal-Compare"><i
                                                        class="pe-7s-refresh-2"></i></button> --}}
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-slider d-md-flex justify-content-md-between align-items-md-center">
                    <ul class="product-tab-nav nav justify-content-start align-items-center">
                        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab"
                                data-bs-target="#newarrivals">Phone</button>
                        </li>
                        {{!-- <li class="nav-item"><button class="nav-link active" data-bs-toggle="tab"
                                data-bs-target="#toprated">Top Rated</button>
                        </li>
                        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab"
                                data-bs-target="#featured">Featured</button>
                        </li> --}}
                    </ul>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="tab-content mt-60px">
                            <!-- 1st tab start -->
                            <div class="tab-pane fade show active" id="newarrivals">
                                <div class="row mb-n-30px">
                                    {{#each product}}

                                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                        <!-- Single Prodect -->
                                        <div class="product">
                                            <span class="badges">
                                                <span class="new">New</span>
                                            </span>
                                            <div class="thumb">
                                                <a href="/singleproduct/{{this._id}}" class="image">
                                                    <img src="{{this.productImage.[0]}}" alt="Product" />
                                                    <img class="hover-image" src="{{this.productImage.[1]}}"
                                                        alt="Product" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <span class="category"><a href="#">{{this.productCategory}}</a></span>
                                                <h5 class="title"><a href="single-product.html">{{this.productName}}
                                                    </a>
                                                </h5>
                                                <span class="price">
                                                    {{#if this.variants.[0]}}
                                                    <span class="new">₹{{this.variants.[0].productPrice}}</span>
                                                    {{else}}
                                                    <span class="new">Price not available</span>
                                                    {{/if}}
                                                </span>
                                            </div>
                                            <div class="actions">
                                                {{!-- <button title="Add To Cart" class="action add-to-cart"
                                                    data-bs-toggle="modal" data-bs-target="#exampleModal-Cart"><i
                                                        class="pe-7s-shopbag"></i></button> --}}
                                                <button class="action wishlist" title="Wishlist"
                                                    onclick="addToWishlist('{{this._id}}')" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal-Wishlist"><i
                                                        class="pe-7s-like"></i></button>
                                                <button class="action quickview" data-link-action="quickview"
                                                    title="Quick view" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal"><i class="pe-7s-look"></i></button>
                                                {{!-- <button class="action compare" title="Compare"
                                                    data-bs-toggle="modal" data-bs-target="#exampleModal-Compare"><i
                                                        class="pe-7s-refresh-2"></i></button> --}}
                                            </div>
                                        </div>
                                    </div>

                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Testimonial area end-->
                <!-- Brand area start -->
                <div class="brand-area pt-100px pb-100px">
                    <div class="container">

                        <div class="brand-slider swiper-container">
                            <div class="swiper-wrapper align-items-center">
                                {{#each brand}}
                                <div class="swiper-slide brand-slider-item text-center">
                                    <a href="/phone"><img class="img-fluid" style="max-width: 150px; max-height: 100px;"
                                            src="{{BrandImage.url}}" alt="" /></a>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Brand area end -->
                <!-- Blog area start from here -->
                {{!-- <div class="main-blog-area pb-100px">
                    <div class="container">
                        <!-- section title start -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title text-center mb-30px0px">
                                    <h2 class="title">Latest Blog</h2>
                                    <p> There are many variations of passages of Lorem Ipsum available</p>
                                </div>
                            </div>
                        </div>
                        <!-- section title start -->
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 mb-xs-30px">
                                <div class="single-blog">
                                    <div class="blog-image">
                                        <a href="blog-single-left-sidebar.html"><img
                                                src="assets/images/blog-image/1.webp" class="img-responsive w-100"
                                                alt=""></a>
                                    </div>
                                    <div class="blog-text">
                                        <div class="blog-athor-date line-height-1">
                                            <span class="blog-date"><i class="fa fa-calendar" aria-hidden="true"></i>
                                                27,Jun 2030</span>
                                            <span><a class="blog-author" href="blog-grid.html"><i class="fa fa-user"
                                                        aria-hidden="true"></i> Wild Nick</a></span>
                                        </div>
                                        <h5 class="blog-heading"><a class="blog-heading-link"
                                                href="blog-single-left-sidebar.html">10 Quick Tips About Smart
                                                Product</a></h5>
                                        <p>Lorem ipsum dolor sit amet consl adipisi elit, sed do eiusmod templ
                                            incididunt ut labore</p>
                                        <a href="blog-single-left-sidebar.html" class="btn btn-primary blog-btn"> Read
                                            More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End single blog -->
                            <div class="col-lg-6 col-sm-6">
                                <div class="single-blog">
                                    <div class="blog-image">
                                        <a href="blog-single-left-sidebar.html"><img
                                                src="assets/images/blog-image/2.webp" class="img-responsive w-100"
                                                alt=""></a>
                                    </div>
                                    <div class="blog-text">
                                        <div class="blog-athor-date line-height-1">
                                            <span class="blog-date"><i class="fa fa-calendar" aria-hidden="true"></i>
                                                27,Jun 2030</span>
                                            <span><a class="blog-author" href="blog-grid.html"><i class="fa fa-user"
                                                        aria-hidden="true"></i> Oaklee Odom</a></span>
                                        </div>
                                        <h5 class="blog-heading"><a class="blog-heading-link"
                                                href="blog-single-left-sidebar.html">5 Real-Life Lessons About Smart
                                                Product</a></h5>
                                        <p>Lorem ipsum dolor sit amet consl adipisi elit, sed do eiusmod templ
                                            incididunt ut labore</p>
                                        <a href="blog-single-left-sidebar.html" class="btn btn-primary blog-btn"> Read
                                            More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End single blog -->
                        </div>
                    </div>
                </div> --}}
                <!-- Blog area end here -->
                <!-- Footer Area Start -->
                <div class="footer-area">
                    <div class="footer-container">
                        <div class="footer-top">
                            <div class="container">
                                <div class="row">
                                    <!-- Start single blog -->
                                    <div class="col-md-6 col-lg-4 mb-md-30px mb-lm-30px">
                                        <div class="single-wedge">
                                            <div class="footer-logo">
                                                <a href="index.html"><img src="assets/images/logo/Tap.png"
                                                        style="width: 170px;" alt=""></a>
                                            </div>
                                            {{!-- <p class="about-text">Your tech sanctuary --}}
                                            </p>
                                            {{!-- <ul class="link-follow">
                                                <li>
                                                    <a class="m-0" title="Twitter" target="_blank"
                                                        rel="noopener noreferrer" href="#"><i class="fa fa-facebook"
                                                            aria-hidden="true"></i></a>
                                                </li>
                                                <li>
                                                    <a title="Tumblr" target="_blank" rel="noopener noreferrer"
                                                        href="#"><i class="fa fa-tumblr" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="Facebook" target="_blank" rel="noopener noreferrer"
                                                        href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="Instagram" target="_blank" rel="noopener noreferrer"
                                                        href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul> --}}
                                        </div>
                                    </div>
                                    <!-- End single blog -->
                                    <!-- Start single blog -->
                                    <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px pl-lg-60px">
                                        <div class="single-wedge">
                                            <h4 class="footer-herading">Services</h4>
                                            <div class="footer-links">
                                                <div class="footer-row">
                                                    <ul class="align-items-center">
                                                        <li class="li"><a class="single-link" href="/account">My
                                                                Account</a></li>
                                                        <li class="li"><a class="single-link"
                                                                href="/contact">Contact</a></li>
                                                        <li class="li"><a class="single-link" href="/cart">Shopping
                                                                cart</a></li>
                                                        <li class="li"><a class="single-link"
                                                                href="/wishlist">Wishlist</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End single blog -->
                                    <!-- Start single blog -->
                                    <div class="col-md-6 col-lg-3 col-sm-12">
                                        <div class="single-wedge">
                                            <h4 class="footer-herading">Contact Info</h4>
                                            <div class="footer-links">
                                                <!-- News letter area -->
                                                {{!-- <p class="address">Address: Your Address Goes Here.</p> --}}
                                                <p class="phone">Phone:<a href="tel:8139056330">8139056330</a></p>
                                                <p class="mail">Email:<a href=" medamu345@gmail.com">
                                                        TapJoy@gmail.com</a></p>
                                                {{!-- <p class="mail"><a href="https://demo@example.com/">
                                                        demo@example.com</a></p> --}}
                                                <!-- News letter area  End -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End single blog -->
                                </div>
                            </div>
                        </div>
                        <div class="footer-bottom">
                            <div class="container">
                                <div class="line-shape-top line-height-1">
                                    <div class="row flex-md-row-reverse align-items-center">
                                        <div class="col-md-6 text-center text-md-end">
                                            <div class="payment-mth"><a href="#"><img class="img img-fluid"
                                                        src="assets/images/icons/payment.png" alt="payment-image"></a>
                                            </div>
                                        </div>
                                        {{!-- <div class="col-md-6 text-center text-md-start">
                                            <p class="copy-text"> © 2022 <strong>Phone Zone</strong> Made With <i
                                                    class="fa fa-heart" aria-hidden="true"></i> By <a
                                                    class="company-name"
                                                    href="https://themeforest.net/user/codecarnival/portfolio">
                                                    <strong> Codecarnival </strong></a>.</p>
                                        </div> --}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer Area End -->
            </div>


            <!-- Modal -->
            <div class="modal modal-2 fade" id="exampleModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> <i
                                    class="pe-7s-close"></i></button>
                            <div class="row">
                                <div class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
                                    <!-- Swiper -->
                                    <div class="swiper-container gallery-top">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img class="img-responsive m-auto"
                                                    src="assets/images/product-image/zoom-image/1.webp" alt="">
                                            </div>
                                            <div class="swiper-slide">
                                                <img class="img-responsive m-auto"
                                                    src="assets/images/product-image/zoom-image/2.webp" alt="">
                                            </div>
                                            <div class="swiper-slide">
                                                <img class="img-responsive m-auto"
                                                    src="assets/images/product-image/zoom-image/3.webp" alt="">
                                            </div>
                                            <div class="swiper-slide">
                                                <img class="img-responsive m-auto"
                                                    src="assets/images/product-image/zoom-image/4.webp" alt="">
                                            </div>
                                            <div class="swiper-slide">
                                                <img class="img-responsive m-auto"
                                                    src="assets/images/product-image/zoom-image/5.webp" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-container gallery-thumbs mt-20px slider-nav-style-1 small-nav">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img class="img-responsive m-auto"
                                                    src="assets/images/product-image/small-image/1.webp" alt="">
                                            </div>
                                            <div class="swiper-slide">
                                                <img class="img-responsive m-auto"
                                                    src="assets/images/product-image/small-image/2.webp" alt="">
                                            </div>
                                            <div class="swiper-slide">
                                                <img class="img-responsive m-auto"
                                                    src="assets/images/product-image/small-image/3.webp" alt="">
                                            </div>
                                            <div class="swiper-slide">
                                                <img class="img-responsive m-auto"
                                                    src="assets/images/product-image/small-image/4.webp" alt="">
                                            </div>
                                            <div class="swiper-slide">
                                                <img class="img-responsive m-auto"
                                                    src="assets/images/product-image/small-image/5.webp" alt="">
                                            </div>
                                        </div>
                                        <!-- Add Arrows -->
                                        <div class="swiper-buttons">
                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
                                    <div class="product-details-content quickview-content">
                                        <h2>Modern Smart Phone</h2>
                                        <div class="pricing-meta">
                                            <ul class="d-flex">
                                                <li class="new-price">$20.90</li>
                                            </ul>
                                        </div>
                                        <div class="pro-details-rating-wrap">
                                            <div class="rating-product">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <span class="read-review"><a class="reviews" href="#">( 2 Review
                                                    )</a></span>
                                        </div>
                                        <p class="mt-30px">Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do
                                            eiusmll tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mill
                                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exet
                                            commodo consequat. Duis aute irure dolor</p>
                                        <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                                            <span>SKU:</span>
                                            <ul class="d-flex">
                                                <li>
                                                    <a href="#">Ch-256xl</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                                            <span>Categories: </span>
                                            <ul class="d-flex">
                                                <li>
                                                    <a href="#">Smart Device, </a>
                                                </li>
                                                <li>
                                                    <a href="#">ETC</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                                            <span>Tags: </span>
                                            <ul class="d-flex">
                                                <li>
                                                    <a href="#">Smart Device, </a>
                                                </li>
                                                <li>
                                                    <a href="#">Phone</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="pro-details-quality">
                                            <div class="cart-plus-minus">
                                                <input class="cart-plus-minus-box" type="text" name="qtybutton"
                                                    value="1" />
                                            </div>
                                            <div class="pro-details-cart">
                                                <button class="add-cart"> Add To
                                                    Cart</button>
                                            </div>
                                            <div class="pro-details-compare-wishlist pro-details-wishlist ">
                                                <a href="wishlist.html"><i class="pe-7s-like"></i></a>
                                            </div>
                                        </div>
                                        <div class="payment-img">
                                            <a href="#"><img src="assets/images/icons/payment.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal end -->
            <!-- Modal Cart -->
            <div class="modal customize-class fade" id="exampleModal-Cart" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                                    class="pe-7s-close"></i></button>
                            <div class="tt-modal-messages">
                                <i class="pe-7s-check"></i> Added to cart successfully!
                            </div>
                            <div class="tt-modal-product">
                                <div class="tt-img">
                                    <img src="assets/images/product-image/1.webp" alt="Modern Smart Phone">
                                </div>
                                <h2 class="tt-title"><a href="#">Modern Smart Phone</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal wishlist -->
            {{!-- <div class="modal customize-class fade" id="exampleModal-Wishlist" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                                    class="pe-7s-close"></i></button>
                            <div class="tt-modal-messages">
                                <i class="pe-7s-check"></i> Added to Wishlist successfully!
                            </div>
                            <div class="tt-modal-product">
                                <div class="tt-img">
                                    <img src="assets/images/product-image/1.webp" alt="Modern Smart Phone">
                                </div>
                                <h2 class="tt-title"><a href="#">Modern Smart Phone</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div> --}}

            <input type="hidden" id="userId">
            <input type="hidden" id="productId">

            <!-- Modal compare -->
            <div class="modal customize-class fade" id="exampleModal-Compare" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                                    class="pe-7s-close"></i></button>
                            <div class="tt-modal-messages">
                                <i class="pe-7s-check"></i> Added to compare successfully!
                            </div>
                            <div class="tt-modal-product">
                                <div class="tt-img">
                                    <img src="assets/images/product-image/1.webp" alt="Modern Smart Phone">
                                </div>
                                <h2 class="tt-title"><a href="#">Modern Smart Phone</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Global Vendor, plugins JS -->
            <!-- JS Files
    ============================================ -->
            <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
            <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
            <script src="assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
            <script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>
            <script src="assets/js/plugins/jquery.countdown.min.js"></script>
            <script src="assets/js/plugins/swiper-bundle.min.js"></script>
            <script src="assets/js/plugins/scrollUp.js"></script>
            <script src="assets/js/plugins/venobox.min.js"></script>
            <script src="assets/js/plugins/jquery-ui.min.js"></script>
            <script src="assets/js/plugins/mailchimp-ajax.js"></script>

            <!-- Minify Version -->
            <!-- <script src="assets/js/vendor.min.js"></script>
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/main.min.js"></script> -->

            <!--Main JS (Common Activation Codes)-->
            <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

            <script src="assets/js/main.js"></script>

            <script>
                function addToWishlist(productId) {
                    fetch(`/wishlist/${productId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ userId, productId })
                    })
                        .then(response => {
                            if (!response.ok) {
                                console.log("a")
                                throw new Error('Failed to add product to wishlist');
                            }

                            return response.json();
                        })
                        .then(response => {
                            console.log("pop", response)
                            if (response.errorMessage === 'Removed from Wishlist successfully') {
                                Toastify({
                                    text: "Removed From Wishlist",
                                    duration: 1000, // 3 seconds
                                    gravity: "top", // Display at the top
                                    position: 'right', // Display on the right side
                                    backgroundColor: "black", // Background color
                                    stopOnFocus: true, // Stop the timer when the toast is focused
                                }).showToast();
                            }
                            else {
                                Toastify({
                                    text: "Added to Wishlist",
                                    duration: 1000, // 3 seconds
                                    gravity: "top", // Display at the top
                                    position: 'right', // Display on the right side
                                    backgroundColor: "black", // Background color
                                    stopOnFocus: true, // Stop the timer when the toast is focused
                                }).showToast();
                            }
                            console.log("b")

                            // Handle success message or update UI as needed
                            console.log(response.message);
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            // Handle error or update UI as needed
                        });
                }
            </script>

            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

            <script>
                document.querySelector('a[href="/logoutt"]').addEventListener('click', function (event) {
                    event.preventDefault(); // Prevent default link behavior

                    Swal.fire({
                        title: 'Are you sure you want to logout?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Yes, logout',
                        cancelButtonText: 'Cancel',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // Redirect to logout page or perform logout action
                            window.location.href = "/logoutt"; // Change to your logout URL
                        }
                    });
                });
            </script>

</body>


<!-- Mirrored from htmldemo.net/Phone Zone/Phone Zone/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 29 Feb 2024 07:23:44 GMT -->

</html>